

.mainWrapper {
   max-width: 750px;
   width: 100%;
   margin: 0 auto;
}
.mainHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 60px;
}
.contentWrapper {
   background-color: var(--color-neutral-100);
   padding: 2rem;
   border-radius: 12px;

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .contentWrapper {
      padding: 1.5rem;
   }
}
.emptyText {
// display: inline-block;
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--color-neutral-500);
   text-align: center;
   margin: 0 auto;
   padding: 0.5rem 1rem;
   border-radius: 8px;
   background-color: var(--color-neutral-300);
   width: max-content;
   height: auto;
}