

.mainWrapper {
   max-width: 750px;
   width: 100%;
   margin: 0 auto;

}
.mainHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 60px;
}
.contentWrapper {
   background-color: var(--color-neutral-100);
   padding: 2rem;
   border-radius: 5px;

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .contentWrapper {
      padding: 1.5rem;
   }
}
.emptyTextWrapper {
   position: relative;
   top: 0;
   right: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1rem 2rem;
   background-color: var(--color-neutral-300);
   border-radius: 5px;
}
.emptyText {
   width: max-content;
   height: auto;
   margin: 0 auto;
   padding: 1rem 2rem;
   font-size: 1.6rem;
   font-weight: 600;
   text-align: center;
   color: var(--color-augmented-800);
   border-radius: 5px;
   background-color: var(--color-neutral-200);
}