


.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 60px;
}
.contentWrapper {
   background-color: var(--color-neutral-200);
   padding: 2rem;
   border-radius: 12px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .contentWrapper {
      padding: 1.5rem;
   }
}
.emptyText {
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--color-neutral-800);
   text-align: center;
   margin: 0 auto;
   padding: 0.5rem 1rem;
   border-radius: 8px;
   background-color: var(--color-neutral-100);
   width: max-content;
   height: auto;
}

.option {
   font-size: 1.6rem;
   font-weight: 800;
   color: var(--color-neutral-800);
   background-color: var(--color-neutral-200);
   cursor: pointer;
}
.option:hover,
.option:focus {
   background-color: var(--color-neutral-500);
   cursor: pointer;
}

 option:hover {
   background-color: #198754; /* Change to your desired color */
   color: #fff; /* Change text color if needed */
}