
.item {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 1.2rem;
   background: var(--color-neutral-200);
   margin-bottom: 1.5rem;
   border-radius: 5px;
   &:last-child {
      margin-bottom: 0;
   }
}

.todoDetails {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-basis: 75%;
}

.svgBox {
   flex-basis: 25px;
   flex-shrink: 0;
   height: 25px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   cursor: pointer;
   transition: 0.3s ease background-color;
   &:hover {
      background-color: var(--color-neutral-300);
   }
   svg {
      width: 100%;
      height: 100%;
      stroke: white;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

.texts {
   position: relative;
   top: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: -.5em;
   overflow: hidden;
}

.todoText {
   position: relative;
   /*left: -33%;*/
   left: 12px;
   word-break: break-all;
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.2;
   text-align: left;
   color: var(--color-augmented-800);
   &__completed {
      text-decoration: line-through;
      text-decoration-thickness: 5px;
      opacity: 0.7;
   }
}

.time {
   position: relative;
   /*left: -33%;*/
   left: 12px;
   display: block;
   font-size: 1.2rem;
   font-weight: 400;
   text-align: left;
   margin-top: -0.2rem;
   color: var(--color-augmented-900);
}
@media screen and (max-width: 768px) {
   .todoText, .time {
      left: 10%;
   }
}

@media screen and (max-width: 540px) {
   .todoText, .time {
      left: 5%;
   }
}

@media screen and (max-width: 430px) {
   .todoText, .time {
      left: 5%;
   }
}

@media screen and (max-width: 430px) {
   .todoText, .time {
      left: 5%;
   }
}


.todoActions {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

.editIcon {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
   font-size: 2rem;
   color: var(--color-semantic-warn-400);
   background-color: var(--color-neutral-300);
   border-radius: 5px;
   cursor: pointer;
   transition: 0.333s ease background-color, 0.333s ease color;
   &:hover {
      background-color: var(--color-neutral-500);
      color: var(--color-semantic-extreme-warn-100);
   }
}

.deleteIcon {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
   font-size: 2rem;
   color: var(--color-semantic-alert-400);
   background-color: var(--color-neutral-300);
   border-radius: 5px;
   cursor: pointer;
   transition: 0.333s ease background-color, 0.333s ease color;
   &:hover {
      background-color: var(--color-neutral-400);
      color: var(--color-semantic-alert-200);
   }
}