

.button {
   height: auto;
   overflow: hidden;
   display: inline-block;
   padding: 1rem 2rem;
   font-weight: 800;
   font-size: 1.6rem;
   text-decoration: none;
   text-transform: capitalize;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.2s ease-in-out;

}
.primary {
   background-color: var(--color-neutral-600);
   color: var(--color-neutral-100);

}
.primary:hover {
   background-color: var(--color-neutral-700);
}

.secondary {
   background-color: var(--color-neutral-300);
   color: var(--color-neutral-800);

}
.secondary:hover {
   background-color: var(--color-neutral-500);
}