
.button {
  display: inline-block;
  height: auto;
  width: 140px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.333s ease-in-out,
  color 0.333s ease-in-out;

}

.button__select {
  position: relative;
  width: 140px;
  display: inline-block;
  height: auto;
  padding: 1rem;
  font-weight: 800;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-500);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.333s ease-in-out,
  color 0.333s ease-in-out;

}
.button__select:hover {
  background-color: var(--color-neutral-600);
  color: var(--color-neutral-100);

}

.button__select option:hover,
.button__select option:focus {
  background-color: var(--color-neutral-600); /* Change to your desired color */
  color: var(--color-neutral-100); /* Change text color if needed */

}